// Colors

$base-dark-color: #333e48;
$dark-color-type-2: #111111;
$dark-color-type-3: #333333;
$dark-color-type-4: #575757;
$background-color-type-1: #e5e5e5;
$background-color-type-2: #f3f3f4;
$background-color-type-3: #e1e1e1;
$background-color-type-4: #ff9514;
$background-color-type-5: rgba(224, 224, 224, 0.4);
$background-color-type-6: #c4c4c4;
$base-light-color: #ffffff;

// Viewports

$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-max-width: 1440px;
